:root {
  --color-bg: black;
  --color-fg: skyblue;
  --color---: white;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-fg);
  background: var(--color-bg);
  font-family: sans-serif;
  margin: 0;
}

a {
  color: var(--color-fg);
}

.box {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid var(--color-fg);

  p {
    margin: 0;
  }
}

.accent {
  color: var(--color---);
}
